<div class="box">
  <div class="span12">
    <div class="span6">
      <h1><%= @group.name %></h1>
      <p> <%= @group.description %> </p>
    </div>
    <div class="span4 pull-right">
      <table class="table table-condensed">
        <thead></thead>
        <tbody>
          <% @group.users.each do |u| %>
          <tr>
            <td><%= u.name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="span12">
    <hr>
  </div>  

  <div class="span12">
    <div class="row">
      <div class="span2 pull-right">
      <a href="<%= new_group_expense_path(@group) %>" class="btn btn-primary">
        <i class="icon-pencil icon-white"></i> New Expense
      </a>
      </div>
      <div class="span2">
        <%= dashboard_amount_button(@group, current_user) %>
      </div>
    </div>
    <br />

    <% if @group.expenses.empty? %>
    <div class="row">
      <div class="offset2">
        <h2>No expenses have been logged here yet!</h2>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="span12">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Amount</th>
            <th>Paid By</th>
            <th>Paid For</th>
            <th>Merchant</th>
            <th title="Category"><i class="icon-list-alt"></i></th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <% @group.expenses.each do |e| %>
          <tr class="<%= class_for_expense_row(e, current_user) %>">

            <td title="<%= amount_per_person(e) %>"
            class="amount"><%= number_to_currency(e.amount, :currency =>
            @group.currency_sign) %></td>

            <td><%= e.payer.name %></td>

            <td title="<%= title_of_all_users_for_the_expense(e)
            %>"><%= all_users_for_the_expense(e) %></td>

            <td><%= e.merchant %></td>

            <td class="category" title="<%= title_for_category(e)%>"><%= symbol_for_category(e) %></td>

            <td title="<%= e.description
            %>"><%= truncate(e.description) %></td>

          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
    </div>
    <% end %>
  </div>
</div>
